body{
    font-family: 'Open Sans';
    font-weight: 700;
    padding-left: 2vw;
    padding-bottom: 10vh;
}
#Warning{
    width: 100%;
}
#error{
    margin-top:2vh;
    color: red;
    font-weight: bold;
}
.error{
    color: red;
}
.subtitle{
    margin-top: 1vh;;
    color:rgb(0, 3, 192);
    font-size: 1em;
}
#clear{
    margin-left: 1vw;
}
#cert_img{
    position: relative;
    margin-top: 1vw;
    border: 1px gray;
    border-style: dashed;
    border-radius: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 287px;
    height: 172.8px;
    font-family: "Arial Narrow", Arial, sans-serif;
}

#cert_img1{
    position: relative;
    margin-top: 1vw;
    margin-left: 2vw;
    border: 1px gray;
    border-style: dashed;
    border-radius: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 287px;
    height: 172.8px;
    font-family: "Arial Narrow", Arial, sans-serif;
}

#Title_card, .sub, #PartNumber_card,
#Electrical_card, #Optical_card,
#Title_card1,
#PartNumber_card1,
#Electrical_card1,
#Optical_card1{
    font-size: 8.6px;
    margin-left: 5px;
    line-height: 1.1;
}
#PartNumber_card,
#Electrical_card, 
#Optical_card,
#PartNumber_card1,
#Electrical_card1,
#Optical_card1{
    padding-left: 5px;
}
#Title_card,
#Title_card1{
    padding-top: 3px;
}
#Warning_card,
#Warning_card1{
    font-size: 6.5px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 1;
    margin-bottom: 2px;
    margin-top: 1px;
    text-align: justify;

}
#ref{
    background-image: url("box_label.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 397px;
    height: 397px;
}
.address_full{
    position: absolute;
    top:133px;
    width:100%;
    display: flex;
    padding-left: 5px;
    
}
.address{
    font-size: 6px;
    line-height: 0.9;
    width:90px;
    
}
.address_full div:nth-child(2){
  padding-right:4px;

}
.address_full div:nth-child(3){
  position: absolute;
  right: 6px;     
}
.logo{
    position: absolute;
    right: 7px;
}
#cert,
#cert1{
    position: absolute;
    right: 3px;
    top:25px;
}
#china,
#china1{
    position: absolute;
    bottom: 3px;
    right:8px;
    font-size: 6px;
}

.sub span{
    font-size: 5.5px;
}
.sub strong{
    font-size: 6.7px;
    font-weight: bold;
}
.KJ_Fonts_title{
    font-family: "source-han-serif-korean", serif;
    font-size: 5px;
    font-weight: bold;  
}

.text_ko{
    font-size: 5.5px;
}
.KJ_Fonts_Warning{
    font-family: "source-han-serif-korean", serif;
    font-weight: bold;
    font-size: 5px;
}
.KJ_Fonts_address{
    font-family: "source-han-serif-korean", serif;
    font-size: 4.9px;
    font-weight: bold; 
}
#china .KJ_Fonts_address{
    font-size: 4.9px;
}

/* box label style */
.box_label{
    margin-top: 15px;
}



#box_title,
#box_title_1,
#box_title_2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    position: absolute;
    top: 35px;
    left: 15px;
    font-size: 19px;
}

.box_logo img{
    position:absolute;
    right: 22px;
    top: 15px;
}
.website{
    position:absolute;
    right: 22px;
    bottom: 3px;
    font-size: 7px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.heading, .wrapper{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.sub_t span,
#Made_box span{
    font-family:'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}


/* box label all style */
#box_label_all{
    display: flex;
}

.box_heading,
#box_heading1{
    position: relative;
    width: 396px;
    background-color:black;
    height: 77.7px;
    border-radius: 15px 15px 0px 0px;  
    border-width: 3px 3px 0px 3px;
    border-color: black;
    border-style: solid;
}
.heading{
    position: relative;
    height: 67px;
    width: 396px;
    padding: 0.5vh;
    padding-left: 1vh;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}
.Made_box{
    position: absolute;
    bottom: 0px;
    right: 15px;
    font-size: 8px;
}

/* Grid container */
.wrapper{
    display: flex;
}
.sec_1{
    width: 230px;
    border-right: 3px solid black;
    border-left: 3px solid black;
}

.sec_1 div{
    height: 35px;
    padding: 1px;
    padding-left: 6px;
    border-bottom: 3px solid black;
   
}
.sec_2{
    position: relative;
    width:166px;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}
#sec_2,
#sec_3,
#sec_4{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.footer{
    position: relative;
    height: 65px;
    width: 396px;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-radius: 0 0 15px 15px;
}

.barcode{
    width: 100px;
    height: 60px;
    position: absolute;
    left: 4px;
}

.sub_t strong{
    font-size: 10px;
    font-family:'Arial Narrow', Arial, sans-serif;
    padding-left:5px;
    font-weight: 800;
}

.btn_text{
    font-size: 12px;
    padding: 5px;
}
.Korea_supplier{
    font-family:'Arial Narrow', Arial, sans-serif;
    font-size: 9px;
    position: absolute;
    right: 15px;
    top: 10px;
    font-weight: 200;
}

::placeholder{
    font-size: 14px;
    color: lightgrey;
    }